<div id="page-wrapper">
    <a href="#Events">
    <button type="button" class="btn btn-default btn-circle">

            <i class="fa fa-arrow-left"></i>
    </button>
        </a>
<div class="container-fluid top-buffer">
    <div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Event Details
            </div>

            <div class="panel-body">
    <div class="row">
       <div class="col-md-12">
           <div class="form-group">
               <label>Event Name</label>
               <input class="form-control" ng-model="details.name">
</div>
           </div>
       </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Details</label>
                            <textarea class="form-control" ng-model="details.description"></textarea>
                        </div>
                    </div>
                </div>
    <div class="row">
        <div class="col-md-12">
            <label>When</label>
            <div class='input-group date' id='datetimepicker1'>

                <input type='text' class="form-control" ng-model="details.date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Where</label>
            <input class="form-control" ng-model="details.place.address1">
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">

                <input class="form-control" ng-model="details.place.address2">
            </div>
        </div>
    </div>
                </div>
        </div>
        </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Invitees
            </div>

            <div class="panel-body">
                    <div class="row top-buffer">
                        <div class="col-md-12">
                        <div class=""><strong>{{currentUser}}</strong></div>
</div>
                        </div>
                <div class="row top-buffer" ng-repeat="invitee in details.invitees">
                    <div class="col-md-12">
                    <input type="text" ng-model="invitee.email"/>
                        <a ng-click="removeInvitee(invitee)">
                            <button type="button" class="btn btn-default btn-circle-small">

                                <i class="fa fa-times"></i>
                            </button>
                        </a>
                </div>
                    </div>
        <div class="row top-buffer">
                    <div class="col-md-12">
                    <a href="" ng-click="addInvitee()">Add People</a>
                        </div>
                </div>

                </div>
        </div>
</div></div>
    <div class="row top-buffer">
        <div class="col-md-12">
        <div id="map_canvas" style="height:500px"></div>
    </div>
</div>
    <div class="row top-buffer">
    <a class="btn btn-default btn-circle pull-right circle-large" ng-click="addEvent()">
    <i class="fa fa-check"></i>
</a>
    </div>
        </div>
    </div>
